[user]
	name = liv
	email = 819880950@qq.com 
[core]
	editor = nvim
        pager = diff-so-fancy | less --tabs=4 -RFX
[push]
	default = simple
[pull]
	rebase = true
[rebase]
	autoStash = true
[sendemail]
  from = 819880950@qq.com
  smtpencryption = tls
  smtpserver = smtp.qq.com
  smtpuser = 819880950@qq.com
  smtpserverport = 587
