[user]
	name = marisa
	email = marisa@mokou.zone
	signingkey = marisa@mokou.zone
[core]
	editor = nvim
[push]
	default = simple
[pull]
	rebase = true
[rebase]
	autoStash = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
