[user]
	name = marisa
	email = marisa@mokou.zone
	signingkey = marisa@mokou.zone
[core]
	editor = nvim
  pager = diff-so-fancy | less --tabs=4 -RFX
[push]
	default = simple
[pull]
	rebase = true
[rebase]
	autoStash = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
