fish/.config/fish/completions/
fish/.config/fish/functions/
fish/.config/fisherman/
fish/.config/fish/fishd.*
fish/.config/fish/conf.d/
tmux-*
.DS_Store
spacemacs/.spacemacs.d/#*
bin/.local/share
nvim/.config/nvim/.netrwhist
emacs/.emacs.d/.cask/
emacs/.emacs.d/projectile*
